@external menuSeparatorInner active menuPane miniflex;

@def LINK_HEIGHT 1%;

@url fertigoUrl fertigo;

/*literal("@font-face
{
	font-family: Meddon;
	src: fertigoUrl format("opentype");
}");*/

body {background:#000000;}


a img {
	border: none;	
}

a {
	text-decoration: inherit;
	font-weight: inherit;
	color: inherit;
	background-color: inherit;
}

#__bg {
	display: block;
	position: absolute;
}

.backgroundImage {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index:-420;
}

.menuPane {
	position: absolute;
	top: 32%;
	left: 4%;
	width: 60%;
	height: 8%;
	z-index: 2;
	font-family: Cardo;
	font-size: 340%;
	font-weight: bold;
	font-style: oblique;
	color: #d1d195;
	
	text-shadow:
		1px 1px 0px #43442d,
		2px 2px 1px #f0f09a;
}
@if user.agent ie6 ie8 {
	.menuPane {
		font-family: Cardo;
		left: 4.5%;
	}
}

.contentTitle {
	font-size: 250%;
	
	font-family: Tangerine;
	text-shadow:
		0px 0px 2px #777,
		0px 0px 5px #FFF;
	
	padding-bottom: 2%;
	padding-left: 2%;
}

.contentText {
	color: #333;
	font-family:
    	georgia,		/* Windows, MacOS */
						/* Fallback options */
    	times,			/* Unix+X, MacOS */
    	serif;
	text-shadow:
		0px 0px 5px #FFF,
		0px 0px 7px #FFF,
		0px 0px 10px #FFF;
		
	padding-top: 2%;
}

.newsAuthor {
	font-family: Tangerine;
	font-size: 120%;
	padding-left: 5%;
}
.newsDate {
	width: 100%;
	padding-bottom: 0.5%;
	border-bottom: 1px groove #777;
}
.newsContent {}

.latestNewsTitle {
	font-size: 200%;
	
	font-family: Tangerine;
	text-shadow:
		0px 0px 2px #777,
		0px 0px 5px #FFF;
	
	padding-top: 15%;
	padding-bottom: 2%;
	padding-left: 6%;
}

.contentPane {
	position: absolute;
	top: 22%;
	left: 55%;
	width: 31.5%;
	height: 70%;
	font-size: 200%;
	z-index: 1;
}

.miniflex {
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	padding: 0 0.5% 0 0.5%;
}
 
.miniflex li {
	float: left;
	margin: 0 3.5% 0 0;
	padding: 0;
	display: inline;
	list-style: none;
}
	
.miniflex a:link, .miniflex a:visited {
	float: left;
	margin: 0 0.5% 0 0.5%;
}

.miniflex a:hover {
	color: #e4e477;
	border-bottom: 5px solid #d0d385;
	padding-bottom: 0.5%;
}

.active {
	border-bottom: 5px solid #d0d385;
	padding-bottom: 0.5%;
	outline: none;
}

.title {
	position: absolute;
	top: 9%;
	left: 5%;
	height: 21.5%;
	width: auto;
}

.wikiImage {
	position: absolute;
	top: LINK_HEIGHT;
	left: 1.5%;
	height: auto;
	width: 5%;
}

.lastfmImage {
	position: absolute;
	top: LINK_HEIGHT;
	left: 7.5%;
	height: auto;
	width: 5%;
}

.fbImage {
	position: absolute;
	top: LINK_HEIGHT;
	left: 13.5%;
	height: auto;
	width: 5%;
}

.pixies {
	position: absolute;
	opacity: .9;
	bottom: 1%;
	right: 1.5%;
	z-index: 2;
	font-family: Quattrocento;
	font-size: 180%;
	font-weight: bold;
	font-style: oblique;
	color: #FFF;
	text-shadow:
		-2px 0px 1px #59571d,
		0px -2px 1px #59571d,
		2px 0px 1px #59571d,
		0px 2px 1px #59571d;
}

.copyright {
	position: absolute;
	opacity: .75;
	bottom: 1%;
	left: 1.5%;
	z-index: 2;
	font-family: Quattrocento;
	font-size: 180%;
	font-weight: bold;
	font-style: oblique;
	color: #FFF;
	text-shadow:
		-2px 0px 1px #59571d,
		0px -2px 1px #59571d,
		2px 0px 1px #59571d,
		0px 2px 1px #59571d;
}