@external menuSeparatorInner;

@def LINK_HEIGHT 1%;

@url fertigoUrl fertigo;

/*literal("@font-face
{
	font-family: Meddon;
	src: fertigoUrl format("opentype");
}");*/

body {background:#000000;}


a img {
	border: none;	
}

a {
	text-decoration: inherit;
	font-weight: inherit;
	color: inherit;
	background-color: inherit;
}

#__bg {
	display: block;
	position: absolute;
}

.backgroundImage {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index:-420;
}

.menuPane {
	position: absolute;
	top: 32%;
	left: 3.3%;
	width: 60%;
	height: 8%;
	z-index: 2;
	font-family: Cardo;
	font-size: 240%;
	font-weight: bold;
	font-style: oblique;
	color: #d1d195;
	
	text-shadow:
		1px 1px 0px #43442d,
		2px 2px 1px #f0f09a;
}
@if user.agent ie6 ie8 {
	.menuPane {
		left: 7.3%;
		font-size: 320%;
		font-family: Palatino;
	}
}

.contentPane {
	position: absolute;
	top: 22%;
	left: 53%;
	width: 32%;
	height: 70%;
	z-index: 1;
}

.miniflex {
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	padding: 0 0.5% 0 0.5%;
}
 
.miniflex li {
	float: left;
	margin: 0 3.5% 0 0;
	padding: 0;
	display: inline;
	list-style: none;
}
	
.miniflex a:link, .miniflex a:visited {
	float: left;
	margin: 0 0.5% 0 0.5%;
}

.miniflex a.active:link, .miniflex a.active:visited, .miniflex a:hover {
	color: #e4e477;
	border-bottom: 5px solid #d0d385;
	padding-bottom: 0.5%;
}

.miniflex a.active:link, .miniflex a.active:visited {
	border-bottom: 5px solid #d0d385;
	padding-bottom: 0.5%;
}

.title {
	position: absolute;
	top: 9%;
	left: 5%;
	height: 21.5%;
	width: auto;
}

.wikiImage {
	position: absolute;
	top: LINK_HEIGHT;
	left: 1.5%;
	height: auto;
	width: 5%;
}

.lastfmImage {
	position: absolute;
	top: LINK_HEIGHT;
	left: 7.5%;
	height: auto;
	width: 5%;
}

.fbImage {
	position: absolute;
	top: LINK_HEIGHT;
	left: 13.5%;
	height: auto;
	width: 5%;
}

.pixies {
	position: absolute;
	opacity: .9;
	bottom: 1%;
	right: 1.5%;
	z-index: 2;
	font-family: Quattrocento;
	font-size: 120%;
	font-weight: bold;
	font-style: oblique;
	color: #FFF;
	text-shadow:
		-2px 0px 1px #59571d,
		0px -2px 1px #59571d,
		2px 0px 1px #59571d,
		0px 2px 1px #59571d;
}

.copyright {
	position: absolute;
	opacity: .75;
	bottom: 1%;
	left: 1.5%;
	z-index: 2;
	font-family: Quattrocento;
	font-size: 120%;
	font-weight: bold;
	font-style: oblique;
	color: #FFF;
	text-shadow:
		-2px 0px 1px #59571d,
		0px -2px 1px #59571d,
		2px 0px 1px #59571d,
		0px 2px 1px #59571d;
}