@external menuSeparatorInner active menuPane miniflex;

@def LINK_HEIGHT 1%;

body {background:#000000;}

a img {
	border: none;	
}

a {
	text-decoration: inherit;
	font-weight: inherit;
	color: inherit;
	background-color: inherit;
}

#__bg {
	display: block;
	position: absolute;
}

.backgroundImage {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index:-420;
}

.menuPane {
	position: absolute;
	top: 32%;
	left: 4%;
	width: 60%;
	height: 8%;
	z-index: 2;
	font-family: Cardo;
	font-size: 340%;
	font-weight: bold;
	font-style: oblique;
	color: #d1d195;
	
	text-shadow:
		-1px -1px 0px #40410d,
		1px 1px 0px #43442d,
		2px 2px 2px #f0f09a;
}
@if user.agent ie6 ie8 {
	.menuPane {
		font-family: Cardo;
		left: 4.5%;
	}
}

.contentTitle {
	font-size: 250%;
	
	font-family: Tangerine;
	text-shadow:
		0px 0px 2px #777,
		0px 0px 5px #FFF;
	
	padding-bottom: 2%;
	padding-left: 2%;
}

.contentText {
	color: #333;
	font-family:
    	georgia,		/* Windows, MacOS */
						/* Fallback options */
    	times,			/* Unix+X, MacOS */
    	serif;
	text-shadow:
		0px 0px 5px #FFF,
		0px 0px 7px #FFF,
		0px 0px 10px #FFF;
		
	padding-top: 2%;
}

.discogTrack {
	color: #333;
	font-family:
    	georgia,		/* Windows, MacOS */
						/* Fallback options */
    	times,			/* Unix+X, MacOS */
    	serif;
	text-shadow:
		0px 0px 5px #FFF,
		0px 0px 7px #FFF,
		0px 0px 10px #FFF;
		
	/*padding-top: 2%;*/
	font-size: 80%;
	padding-left: 4.5%;
}

.discogInfo {
	color: #666;
	font-family:
    	georgia,		/* Windows, MacOS */
						/* Fallback options */
    	times,			/* Unix+X, MacOS */
    	serif;
	text-shadow:
		0px 0px 5px #FFF,
		0px 0px 7px #FFF,
		0px 0px 10px #FFF;
		
	padding-top: 3%;
	padding-bottom: 1%;
	font-size: 95%;
}

.discogReview {
	color: #909345;
	font-style: oblique;
	text-decoration: underline;
	text-shadow:
		1px 1px 0px #D0D0D0,
		0px 0px 5px #FFF,
		0px 0px 7px #FFF,
		0px 0px 10px #FFF;
	font-size: 95%;
	padding-left: 4.5%;
}

.mediaItem {
	color: #909345;
	font-style: oblique;
	text-decoration: underline;
	text-shadow:
		1px 1px 0px #D0D0D0,
		0px 0px 5px #FFF,
		0px 0px 7px #FFF,
		0px 0px 10px #FFF;
	font-size: 100%;
	padding-top: 4%;
	padding-left: 4%;
	margin-right: 5%;
}

.mediaText {
	color: #333;
	font-family:
    	georgia,		/* Windows, MacOS */
						/* Fallback options */
    	times,			/* Unix+X, MacOS */
    	serif;
	text-shadow:
		0px 0px 5px #FFF,
		0px 0px 7px #FFF,
		0px 0px 10px #FFF;
		
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 2%;
	margin-right: 5%;
	
	border-top: 1px groove #777;
	text-align: justify;
	line-height: 170%;
}

.mediaTextIndent {
	color: #666;
	font-family:
    	georgia,		/* Windows, MacOS */
						/* Fallback options */
    	times,			/* Unix+X, MacOS */
    	serif;
    font-style: italic;
	text-shadow:
		0px 0px 5px #FFF,
		0px 0px 7px #FFF,
		0px 0px 10px #FFF;
		
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 4%;
}

.mediaIndentation {
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 2%;
	margin-right: 5%;
}

.newsAuthor {
	font-family: Tangerine;
	font-size: 120%;
	padding-left: 5%;
	padding-bottom: 2%;
}

.newsDate {
	width: 100%;
	padding-bottom: 0.5%;
	border-bottom: 1px groove #777;
}

.newsNext {
	/*float: right;
	padding-right: 15%;*/
	position: absolute;
	bottom: 2%;
	right: 15%;
	
	color: #909345;
	font-style: oblique;
	text-decoration: underline;
	text-shadow:
		1px 1px 0px #D0D0D0;
}

.newsContent {}

.newsQuestion {
	padding-top: 30%;
	padding-left: 5%;
}

.newsAnswer {
	float: right;
	padding-top: 35%;
	padding-right: 10%;
}

.latestNewsTitle {
	font-size: 200%;
	
	font-family: Tangerine;
	text-shadow:
		0px 0px 2px #777,
		0px 0px 5px #FFF;
	
	padding-top: 15%;
	padding-bottom: 2%;
	padding-left: 6%;
}

.contentPane {
	position: absolute;
	overflow: auto;
	top: 22%;
	left: 55%;
	width: 31.5%;
	height: 70%;
	font-size: 200%;
	z-index: 1;
}

.albumPane {
	position: absolute;
	top: 40%;
	left: 4.5%;
	width: 39%;
	height: 50%;
	z-index: 4;
}

.albumOne {
	position: absolute;
	bottom: 0%;
	left: 0%;
	width: 28%;
	height: auto;
}

.albumTwo {
	position: absolute;
	bottom: 0%;
	left: 36%;
	width: 28%;
	height: auto;
}

.albumThree {
	position: absolute;
	bottom: 0%;
	left: 72%;
	width: 28%;
	height: auto;
}

.currentAlbumImage {
	position: absolute;
	top: 0%;
	left: 20%;
	width: 60%;
	height: auto;
}

.miniflex {
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	padding: 0 0.5% 0 0.5%;
}
 
.miniflex li {
	float: left;
	margin: 0 3.5% 0 0;
	padding: 0;
	display: inline;
	list-style: none;
}
	
.miniflex a:link, .miniflex a:visited {
	float: left;
	margin: 0 0.5% 0 0.5%;
}

.miniflex a:hover {
	color: #e4e477;
	border-bottom: 5px solid #d0d385;
	padding-bottom: 0.5%;
}

.active {
	border-bottom: 5px solid #d0d385;
	padding-bottom: 0.5%;
	outline: none;
}

.title {
	position: absolute;
	top: 9%;
	left: 5%;
	height: 21.5%;
	width: auto;
}

.fbImage {
	position: absolute;
	top: LINK_HEIGHT;
	left: 1.5%;
	height: auto;
	width: 5%;
	opacity: .85;
}

.lastfmImage {
	position: absolute;
	top: LINK_HEIGHT;
	left: 7.5%;
	height: auto;
	width: 5%;
	opacity: .85;
}

.wikiImage {
	position: absolute;
	top: LINK_HEIGHT;
	left: 13.5%;
	height: auto;
	width: 5%;
	opacity: .85;
}

.youtubeImage {
	position: absolute;
	top: LINK_HEIGHT;
	left: 19.5%;
	height: auto;
	width: 5%;
	opacity: .85;
}

.pixies {
	position: absolute;
	opacity: .9;
	bottom: 1%;
	right: 1.5%;
	z-index: 2;
	font-family: Quattrocento;
	font-size: 180%;
	font-weight: bold;
	font-style: oblique;
	color: #FFF;
	text-shadow:
		-2px 0px 1px #59571d,
		0px -2px 1px #59571d,
		2px 0px 1px #59571d,
		0px 2px 1px #59571d;
}

.copyright {
	position: absolute;
	opacity: .75;
	bottom: 1%;
	left: 1.5%;
	z-index: 2;
	font-family: Quattrocento;
	font-size: 180%;
	font-weight: bold;
	font-style: oblique;
	color: #FFF;
	text-shadow:
		-2px 0px 1px #59571d,
		0px -2px 1px #59571d,
		2px 0px 1px #59571d,
		0px 2px 1px #59571d;
}