@def LINK_HEIGHT 1%; 

body {background:#000000;}

#__bg {
	display: block;
	position: absolute;
}

.backgroundImage {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index:-420;
}

.contentPane {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index:0;
}

.title {
	position: absolute;
	top: 15%; /* 9 // 13.5 */
	left: 7.5%;
	height: 21.5%;
	width: auto;
}

.wikiImage {
	position: absolute;
	top: LINK_HEIGHT;
	left: 1.5%;
	height: auto;
	width: 5%;
}

.lastfmImage {
	position: absolute;
	top: LINK_HEIGHT;
	left: 7.5%;
	height: auto;
	width: 5%;
}

.fbImage {
	position: absolute;
	top: LINK_HEIGHT;
	left: 13.5%;
	height: auto;
	width: 5%;
}